body {
    font-family: verdana;
    margin: 0;
    padding: 0;
}

.center {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.ring {
    animation: animate 1s linear infinite;
    background: transparent;
    border-radius: 50%;
    box-shadow: 0 4px 0 #262626;
    height: 300px;
    width: 300px;
}

.text {
    background: transparent;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    color: #262626;
    font-size: 2em;
    height: 300px;
    left: 0;
    line-height: 300px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 300px;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}