@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #111;
}

section .text {
    position: relative;
    font-size: 3em;
    color: #fff;
    letter-spacing: 2px;
}

section .text span {
    position: relative;
    display: inline-block;
    text-shadow: 0 -60px 0 #fff,
        0 60px 0 #fff;
        animation: animate 2s ease-in-out infinite;
}

@keyframes animate {
    0% {
        transform: translateY(70px);
    }

    50% {
        transform: translateY(-70px);
    }

    100% {
        transform: translateY(70px);
    }
}