body {
    align-items: center;
    background-color: #f33131b2;
    display: flex;
    height: 100vh;
    justify-content: center;
}

h1 {
    animation: float 3s linear infinite;
    animation-direction: alternate;
    color: white;
    font-size: 90px;
    font-family: arial;
    letter-spacing: 15px;
    line-height: 90px;
    text-align: center;
    text-shadow:
        0 1px 0 #efefef,
        0 2px 0 #efefef,
        0 3px 0 #efefef,
        0 4px 0 #efefef,
        0 30px 5px rgba(0, 0, 0, .1);
}

@keyframes float {
    from {
        transform: rotate(5deg);
    }

    to {
        transform: rotate(-5deg);
    }
}